/* This css is for responsiveness */

@media (max-width: 600px) {
  .FollowUpCircle {
    display: none;
  }

  .ultop {
    width: 80vw;
    margin-top: 0.3em;
  }

  .ultop li {
    font-size: 10px;
  }

  .nav a {
    font-size: small;
  }

  #hideUltop {
    display: none;
  }

  #menu {
    font-size: small;
    margin-top: 0.4em;
  }

  .rightbottomtext {
    margin-top: 12em;
    font-size: small;
  }

  .footer1 {
    font-size: small;
    margin-top: 15em;
  }

  .footer1 a {
    width: 11em;
  }

  .heroland h1 {
    font-size: 15vw;
  }

  .animindia {
    font-size: small;
  }

  .circle {
    display: none;
  }

  #club_text {
    margin-left: 6.2em;
  }

  .plugpage {
    padding-top: 8em;
  }

  .plugdivs {
    width: 90vw;
  }

  .plugdivs img {
    display: none;
  }

  .aboutpage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0.7em;
    margin-top: 5em;
  }

  .imgdiv {
    width: 10em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border: solid; */
  }

  .imgdiv img {
    width: 10em;
    max-width: 100%;
  }

  .textabout {
    margin-top: 1em;
    width: 90vw;
  }

  .textabout h5 {
    font-size: xx-small;
  }

  .textabout p {
    font-size: 0.6em;
    word-spacing: 0.1em;
  }

  .textabout a h6 {
    font-size: 0.4em;
  }

  .linkchannel {
    margin-top: 3em;
    line-height: 1.3;
  }

  .linkchannel a {
    font-size: small;
  }

  .linkchannel h5 {
    font-size: 0.5em;
  }

  .footer2 {
    flex-direction: column-reverse;
    align-items: start;
    line-height: 3;
    padding-top: 8vh;
    padding-bottom: 0;
    font-size: xx-small;
    font-weight: 100;
    margin-top: 2.8em;
  }

  .date {
    align-items: start;
    font-size: x-small;
  }

  .left h5 {
    font-size: x-small;
    font-weight: 300;
    padding-left: 2vw;
  }

  .ulbottom {
    width: 80vw;
    justify-content: space-between;
  }
}
