* {
  padding: 0;
  margin: 0;

  /* border: 1px solid red; */
}

body {
  color: white;
  background: #000;
  font-family: General Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  /* filter: url(#water); */
}

/* css to make page transitioon smoot */
.overlay {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 999;
  transform: translateY(-100%)
}

.overlay2 {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 999;
  transform: translateY(0%)
}

.overlay3 {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 999;
  transform: translateY(0%)
}

.overlay4 {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 999;
  transform: translateY(0%)
}


.ScrollContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 1px);
}

/* .distort{
  filter: url(#water);
  transition: filter 0.5s ease-out;
} */
.main {
  /* border: 1px solid red; */
  /* background: #000; */
  padding: 0;
  margin: 0;

  /* overflow: hidden; */
}

.FollowUpCircle {
  opacity: 100%;
  position: absolute;
  z-index: -1;
  width: 15px;
  transition: all 0.1s ease-out;
  visibility: hidden;
  transform: var(--circle);
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5vw; */
  /* mix-blend-mode: difference; */

}

.FollowUpCircle img {
  width: 30px;

}

::selection {
  background: rgba(176, 27, 27, 0.545);
  color: white;
}

/* link border animation */

.landingpage {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  /* background: #000; */
  text-transform: uppercase;
}

.psudoheader {
  /* width: 100%; */
  /* height: 13vh; */
  /* background: #000; */
  display: none;
}

.header1 {
  background: rgba(28, 26, 26, 0);
  backdrop-filter: blur(20px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background: #000; */
  position: fixed;
  z-index: 5;
  margin-top: -2.5vh;
  /* padding: 1em 0em; */
}

.ultop {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  position: absolute;
  text-transform: uppercase;
}

.visibleme {
  visibility: visible;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  position: absolute;
  transition: visibility 1s ease-in;
}

.hideme {
  visibility: hidden;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  position: absolute;
  transition: visibility 1s ease-out;
}

.ultop a {
  text-decoration: none;
  color: white;
  padding: 0 2vw;
}

#menu:hover {
  cursor: pointer;
}

.hidemenu {
  visibility: hidden;
}

.header1 h4 {
  padding: 2.5vw;
  text-transform: uppercase;
  font-weight: 600;
}

.header1 h4 a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  width: 0px;
  transition: all 0.3s;
}

.header1 h4 a::after {
  content: "";
  width: 0px;
  height: 22px;
  padding: 0px;
  margin: 0px;
  margin-left: -130px;
  position: absolute;
  opacity: 100%;
  z-index: 55;
  border-bottom: 1px solid white;
  transition: width 0.3s ease-in;
  /* Use transition instead of animation */
}

.header1 h4 a:hover::after {
  width: 130px;
  /* Increase the width on hover */
}

.heroland {
  padding-left: 3vw;
  margin-top: 21vh;
}

.textanimdiv {
  /* border: 2px solid red; */
  overflow: hidden;
}

.h1anim {
  transform: translateY(100%);
}

.animindia {
  /* border: 2px solid red; */
  overflow: hidden;
}

.movedown {
  transform: translatey(-100%);
}

.heroland h1 {
  font-size: 11vw;
  line-height: 0.9;
  font-weight: 600;
  opacity: 70%;
}

.combinetext {
  display: inline-block;
  padding-left: 9.8vw;
}

.combinetext h4 {
  line-height: 3;
  font-weight: 600;
  display: flex;
  justify-content: end;
}

.rightbottomtext {
  margin-top: 10vh;
  padding-right: 3vw;
}

.rightbottomtext h4 {
  display: flex;
  justify-content: end;
  line-height: 2;
  font-weight: 600;
}

.footer1 {
  padding: 0vw 3vw;
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer1 a {
  text-decoration: none;
  color: white;
}

.footer1 a img {
  filter: invert();
  width: 0.8em;
  padding-left: 5px;
  rotate: -25deg;
  transition: rotate 0.1s ease-in;
}

.footer1 a:hover img,
.footer1 a:active img {
  rotate: 0deg;
}

.minicircles {
  display: flex;
  visibility: hidden;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5vw;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: rgb(111, 110, 110);
  overflow: hidden;
}

.hideArrow {
  opacity: 0;
  pointer-events: none;
}

.circle img {
  /* filter: invert(); */
  width: 1em;
  transition: transform 0.3s ease;
}

/* style for plugpage below*/

.plugpage {
  width: 100vw;
  /* background: #000; */
  padding-top: 10vw;
}

.plugpage a {
  text-decoration: none;
  color: white;
}

.plugdivs {
  text-decoration: none;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw;
  padding-left: 0px;
  margin-left: 3vw;
  border-top: 2px solid grey;
  text-transform: uppercase;
  position: relative;
}

.plugdivs h1 {
  font-size: 6vw;
  opacity: 70%;
  transition: all 0.8s ease;
}

.plugdivs:hover h1 {
  transform: translateX(60px);
  opacity: 0.1;
}

.plugdivs:hover h6 {
  opacity: 0.3;
  transition: all 0.8s ease;
}

.plugdivs img {
  width: 30vw;
  position: absolute;
  /* visibility: hidden; */
  z-index: 2;
  border-radius: 5%;
  transition: transform 0.3s ease;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* border: 2px solid red; */
}
/* #exIMG{
  width: 25vw;
} */

/* skills section  */
.skills_div {
  margin-top: 8em;
  /* transition: transform 0.3s ease; */
  text-transform: uppercase;
}

.skills_div h5 {
  text-transform: uppercase;
  margin-left: 3vw;
  margin-bottom: 1em;
}

#skillbar {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 3em;
  border: 2px solid grey;
  border-left: none;
  border-right: none;
  transform: translateZ(0);
}



.scrolling-text {
  opacity: 70%;
  display: inline-block;
  will-change: transform;
  white-space: nowrap;
}


/* skills section ended here */
/* about page started */
.aboutpage {
  width: 100vw;
  /* background: #000; */
  /* padding-top: 20vw;
  padding-bottom: 10vw; */
  margin-top: 12em;
  margin-bottom: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgdiv {
  display: flex;
  width: 13vw;
  height: 20vw;
  overflow: hidden;
  border-radius: 1em;
  margin-right: 7vw;
  margin-left: 4vw;
}

.imgdiv img {
  filter: brightness(80%) contrast(110%);
  /* max-width: 100%; */
}

.textabout {
  width: 35vw;
}

.textabout h5 {
  opacity: 50%;
  text-transform: uppercase;
  font-weight: 100;
}

.textabout p {
  font-size: 1em;
  line-height: 2;
}

.textabout a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 1.3em;
}

.textabout a h6 {
  display: inline-block;
  padding: 0.5em 1.8em;
  margin-top: 2em;
  opacity: 100%;
  border: 1.4px solid white;
  border-radius: 100px;
  font-weight: 100;
  transition: all 0.3s ease;
}

.textabout a h6:hover {
  background-color: white;
  color: black;
}

.linkchannel {
  width: 100vw;
  /* background: #000; */
  text-transform: uppercase;
  line-height: 1.7;
}

.linkchannel h5 {
  opacity: 50%;
  padding: 0vw 3vw;
  font-weight: 100;
}

.linkchannel a {
  text-decoration: none;
  color: white;
  padding: 0vw 3vw;
}

.linkchannel a img {
  filter: invert();
  width: 0.8em;
  padding-left: 5px;
  rotate: -25deg;
  transition: rotate 0.1s ease-in;
}

.linkchannel a:hover img,
.linkchannel a:active img {
  rotate: 0deg;
}

.footer2 {
  /* background: #000; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 5em;
  padding-bottom: 2vw;
  /* border: 5px solid red; */
  /* z-index: 999; */
}

.PROFOOTER {
  padding-bottom: 1em;
}

.footer2 h5 {
  font-size: large;
  font-weight: 500;
  padding: 0vw 3vw;
  padding-bottom: 0vw;
  display: inline-block;
}

.date {
  display: inline-block;
  font-size: large;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.ulbottom {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.ulbottom a {
  text-decoration: none;
  color: white;
  padding: 0 2vw;
}

/* contact form  starts here---------*/

/* Outer blur background */
#contactForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  z-index: 6;
  display: none;
  /* hide it initially */
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

#contactCard {
  width: 60vw;
  border: 2px solid rgba(215, 212, 212, 0.193);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.contactImg {
  /* border: 3px solid red; */
  width: 30vw;
  height: 29.5em;
  overflow: hidden;
  /* object-fit: cover; */
}

.contactImg img {
  width: 30.5vw;
}

#contactForm.show {
  display: flex;
  opacity: 1;
}

/* Form Box */
#contactForm form {
  /* border: 3px solid red; */
  background: rgba(255, 255, 255, 0.029);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 60px;
  min-width: 40%;
  height: 22em;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Poppins', sans-serif;
  /* position: fixed; */
}

/* Form Elements */
#contactForm form input,
#contactForm form textarea {
  /* background: rgba(255, 255, 255, 0.047); */
  background: rgba(165, 164, 164, 0.133);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  min-width: 100%;
  font-size: 1em;
  resize: none;
  outline: none;
}


#contactForm form textarea {
  height: 10em;
  scrollbar-width: none;
  font-size: large;
}


/* Button */
#contactForm form button {
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 50%;

}

#contactForm form button:hover {
  background: white;
  color: black;
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  z-index: 999;
}

.thank-you-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  padding: 30px 40px;
  background-color: #fff;
  color: #000;
  /* Black text */
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* contact form end here------------- */


/* CSS FOR PROJECT PAGE--------- */

.canvas {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProHeading {
  font-size: 6vw;
  opacity: 70%;
  margin-left: 3vw;
  text-transform: uppercase;
}

.projects {
  /* border: 2px solid red; */
  width: 90%;
  height: 40em;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;

}

.projects img {
  width: 100%;
}

/* experiance page CSS */

/* style.css (Near your .plugdivs or .projects CSS) */